run = "clj -X:dev :mode :single-run"
entrypoint = "main.clj"

[env]
CLJ_CONFIG = "/home/runner/.clojure"

[languages.clojure]
pattern = "**/*.clj"

[languages.clojure.languageServer]
start = ["clojure-lsp"]

[nix]
channel = "stable-22_11"
